* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fs-14 {
    font-size: 14px;
}

.lh-1p5 {
    line-height: 1.5;
}