nav {
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 98;
}

.nav__container {
    max-width: 888px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "ig user";
    position: relative;
}

.nav__ig {
    grid-area: ig;
}

.ig__icon {
    display: none;
    width: 24px;
    height: 24px;
    background: url("../images/instagram-icons.png");
    background-repeat: no-repeat;
    background-size: 263.41px;
    background-position: -122px -124px;
}

.ig__gap {
    display: none;
    color: #000;
    font-size: 26px;
    margin: 0 20px;
    position: relative;
    bottom: 4px;
}

.ig__logo {
    display: inline-block;
    width: 114px;
    height: 33px;
    background: url("../images/instagram-icons-2.png");
    background-repeat: no-repeat;
    background-size: 263.41px;
    background-position: -62px 0px;
    position: relative;
    top: 8px;
}

.nav__search {
    grid-area: search;
    display: none;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.search__icon {
    width: 10px;
    height: 10px;
    background: url("../images/instagram-icons.png");
    background-repeat: no-repeat;
    background-position: -252px -110px;
    background-size: 263.41px;
    position: absolute;
    top: 9px;
    left: 78px;
}

.search__input {
    width: 215px;
    font-size: 14px;
    background: #fafafa;
    color: #999;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 7px;
    text-align: center;
}

.search__input::placeholder {
    color: #CDCDCD;
}

.nav__user {
    grid-area: user;
    position: absolute;
    top: 12px;
    right: 0;
}

.nav__login {
    font-size: 14px;
    background: #3897f0;
    padding: 8px 9px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

.nav__register {
    font-size: 14px;
    color: #3897f0;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .ig__icon, .ig__gap {
        display: inline-block;
    }
}

@media screen and (min-width: 756px) {
    .nav__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "ig search user";
    }
    
     .nav__search {
         display: inline-block;
     }
}