.main__posts-wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2.5px;
}

.main__posts {
    width: 100%;
}

.post__img {
    width: 100%;
    max-width: 293px;
    float: left; /* Just to remove small gap after img */
}

@media screen and (min-width: 756px) {
    .main__posts-wrapper {
        grid-gap: 25px;
    }

    main {
        margin-top: 115px;
    }
}