.main__posts-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.nav__icons-container {
    text-align: center;
    padding: 12px 0;
}

.nav__icons {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/instagram-icons.png");
    background-repeat: no-repeat;
    background-size: 263.41px;
    background-position-x: -215px;
    background-position-y: -73px;
}

.nav__icons--bp {
    background-position-x: -239.25px;
    background-position-y: 0px;
}

.nav__icons-text {
    color: #999; 
    font-weight: bold;
    font-size: 12px;
    display: none;
    position: relative;
    bottom: 1.5px;
}

.nav__icons-wrapper--selected > .nav__icons-text {
    color: #000;
}

@media screen and (min-width: 756px) {
    nav {
        border-top: 1px solid #EFEFEF;
    }

    .nav__icons-container:first-of-type {
        text-align: right;
    }

    .nav__icons-container:last-of-type {
        text-align: left;
    }

    .nav__icons {
        width: 12px;
        height: 12px;
        background-size: 131.705px;
        background-position: -107.25px -36px;
    }

    .nav__icons--bp {
        background-position: -119.25px 0px;
    }

    .nav__icons-text {
        display: inline;
    }

    .nav__icons-wrapper {
        width: initial;
        margin: 0 32px;
    }

    .main__posts-nav {
        border-top: 1px solid #EFEFEF;
    }

    .nav__icons-wrapper--selected {
        padding: 12px 0;
        border-top: 1px solid #000;
    }
}